<ion-header>
  <ion-toolbar>
    <ion-title>
      Music
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/music.png" alt="" />
      <ion-card-header>
        <ion-card-title>Welcome to Music Quizs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Answer music quizs in a very short time.</p>
      </ion-card-content>
    </ion-card>
    <div class="row" text-center> 
      <ion-button shape="round" >Get Started</ion-button>
    </div>
   
</ion-content>
